.weekday {
	text-align: center;
	font-size: 7vw;
	margin-bottom: 0;
	margin-top: 0;
}

.date {
	text-align: center;
	font-size: 5vw;
}

.clock {
	text-align: center;
	font-size: 9vw;
	margin-bottom: 1rem;
}
