.calendar-and-clock {
	display: grid;
	grid-template-rows: 1fr 2fr;
	height: 100vh;
}

.weekday {
	text-align: center;
	font-size: 10em;
}

.date {
	text-align: center;
	font-size: 5em;
}

.clock {
	text-align: center;
	font-size: 10em;
}
